.icon-contact {
    position: relative;
    font-size: 40px !important;
    margin-right: 10px;
    top: 8px;
}
.aditional-contact-link {
    position: relative;
    top: 11px;
    padding-right: 15px;
}